@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Authentication test</h1>
    <small>Sample demo</small>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <p>
            On startup, two user roles are created: Admin and User
        </p>
    </div>
</div>